<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
    <link rel="stylesheet" href="/verify.css" />
  </head>

  <body>
    <div class="verify">
      <div class="verify__logo">
        <img src="/icon.png" alt="" class="verify__logo-img" />
        <h1 class="verify__title">Account verification</h1>
      </div>

      <p class="verify__info">{{info}}</p>

      <a href="{{link}}" class="verify__link">Sign in</a>
    </div>
  </body>
</html>
